// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #0D1117;

// Override Bootstrap color system

$orange: #58A6FF;

// Override Bootstrap default state colors

$primary: $orange;
